*{
	margin: 0;
	padding: 0;
}

img,svg{
	max-width: 100%;
}

body{
	background-color:$fondo-claro;
	font-family: $typo;
}

@mixin columnado($columnas) {
	display:grid;
	grid-template-columns:  repeat($columnas, 1fr);
	grid-gap: 2em;

	> *{
		box-shadow: 0 0 5px $color-text;
		
		&:hover{
			box-shadow: 0 0 10px $color-text;
		}
	}

}

.dos-columnas{
	@include columnado(2);
}
.tres-columnas{
	@include columnado(3);
}
.cuatro-columnas{
	@include columnado(4);
}

.ocho-col{
	@include columnado(7);
}

/* extend ???? */


/* This CSS will print because %message-shared is extended. */
%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

// This CSS won't print because %equal-heights is never extended.
%equal-heights {
  display: flex;
  flex-wrap: wrap;
}

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  border-color: $fondo-claro
}

.error {
  @extend %message-shared;
  border-color: darken($color: $fondo-claro, $amount: 60);
  color:$fondo-claro;
}

.warning {
  @extend %message-shared;
  border-color: yellow;
}